 .hero { position: relative; content: ""; min-height: 100vh; background-color: #020A13; overflow: hidden; border: none !important; } .container { position: relative;  padding: 40px 20px; z-index: 10; height: 691px;} .content { text-align: center; } .headline { margin-bottom: 32px; } .title {  font-weight: 500; color: rgb(179, 179, 179); line-height: 1.2; } .highlight { color: #fbfbfb; } .ctaButton { display: inline-flex; backdrop-filter: blur(5px); padding: 12px 24px; margin-bottom: 40px; transition: background-color 0.3s; } .ctaButton:hover { background-color: rgb(131, 178, 214); } .ctaText { font-family: 'GT America VF Variable', sans-serif; font-size: 0.88rem; font-weight: 450; color: rgb(15, 20, 25); } .pins { display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; } .pin { position: relative; transform: translateY(-50%); } .pinCard { display: flex; align-items: center;  backdrop-filter: blur(7px); border: 1px solid rgba(250, 250, 250, 0.16); border-radius: 8px; box-shadow: 0 0.6px 0.6px -0.58px rgba(0, 0, 0, 0.16), 0 2.29px 2.29px -1.17px rgba(119, 79, 79, 0.18), 0 10px 10px -1.75px rgba(0, 0, 0, 0.28); padding: 8px 12px; } .pinIconWrapper { border-radius: 4px; padding: 4px; margin-right: 8px; } .pinIcon { width: 24px; height: 24px; } .pinContent { display: flex; flex-direction: column; } .pinTitle { font-family: 'GT America VF Variable', sans-serif; font-size: 0.9rem; font-weight: 450; color: rgb(251, 251, 251); margin: 0; } .pinPoints { display: flex; align-items: center; gap: 4px; } .pointsIcon { width: 16px; height: 16px; } .pointsText { font-family: 'GT America VF Variable', sans-serif; font-size: 0.8rem; font-weight: 450; color: rgb(237, 212, 150); } .pinDot { background-color: rgb(255, 255, 255); border-radius: 48px; box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.07); width: 16px; height: 16px; position: absolute;  left: 50%; transform: translateX(-50%) scale(0.8064); opacity: 0.7096; } .scrollDown { position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%); display: flex; flex-direction: column; align-items: center; opacity: 0.5; } .scrollText { font-family: 'GT America VF Variable', sans-serif; font-size: 0.88rem; font-weight: 500; color: rgb(237, 234, 232); } .scrollIcon { width: 24px; height: 24px; margin-top: 8px; } .map { position: absolute; inset: 0; mask: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.69) 100%); opacity: 0.16; } 
 .rent{
  background-image: url("../assets/svgs/rentbg.svg");
  background-position: center;
  background-size: cover;
  width: 100%;
 }
 .faq{
  background-image: url("../assets/svgs/faqhero.webp");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 }

 .hr{
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  opacity: 10%;
 }

 .hr2{
  height: 2px;
  width: 100%;
  background-color: #000;
  opacity: 8%;
 }

 .img{
  background-image: url("../assets/svgs/image\ 17.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 415px;
 }

 .img2{
  background-image: url("../assets/svgs/image\ 14.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 415px;
 }

  .img3{
  background-image: url("../assets/svgs/img-one.jpg");
  background-size: cover;
  background-position: contain;
  width: 100%;
  height: 415px;
 }


 .sect{
  background-image: url("../assets/svgs/Map.svg");
  height: 414px;
  background-color: #ffffff;
  background-position: center;
  border-radius: 20px;
  background-size: cover;
  content: "";
 }
 .footer{
  background-image: url("../assets/svgs/NUBA.svg");
  height: 400px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 537px;
}

 @media screen and (max-width:640px) {
  .sect{
    height: 350px;
  }
  .footer{
    height: 247px;
  }
 }

  @media screen and (max-width:1078px) {
  .pin{
    bottom: 120px;
  }
  .pos{
    position: absolute;
    right: 100px !important;
  }

 }
 